.Weather {
  border: 1px solid darkgray;
  margin: 45px;
  padding: 16px 16px;
  border-radius: 5px;
  max-width: 650px;
  background-color: rgb(219, 201, 191);
}

.Weather form {
  margin-bottom: 22px;
}

.Weather h1 {
  color: #690569;
  display: block;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin: 15 0 0;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  color: #690569;
  font-size: 14px;
  line-height: 19px;
  list-style: none;
  margin-left: 5px;
}

.Weather .temperature {
  font-weight: lighter;
  line-height: 24px;
  font-size: 40px;
  margin-left: 10px;
  position: relative;
}

.Weather .unit {
  font-size: 12px;
  position: relative;
  line-height: 1;
  top: -20px;
}
